[submodule "iOSKit"]
	path = iOSKit
	url = git@github.com:foundationkit/iOSKit.git
[submodule "BlocksKit"]
	path = BlocksKit
	url = git://github.com/foundationkit/BlocksKit.git
[submodule "MagicalRecord"]
	path = MagicalRecord
	url = git://github.com/foundationkit/MagicalRecord.git
[submodule "AFNetworking"]
	path = AFNetworking
	url = git://github.com/foundationkit/AFNetworking.git
[submodule "PDKeychainBindingsController"]
	path = PDKeychainBindingsController
	url = git://github.com/foundationkit/PDKeychainBindingsController.git
[submodule "DCIntrospect"]
	path = DCIntrospect
	url = git://github.com/foundationkit/DCIntrospect.git

